.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
}

.cabecalho{
    
}
.menu{
    
}

.coluna-esquerda{
    
}
.content{

}

.coluna-direita{

}
.rodape{

} 
fieldset {
  background-color: #eeeeee;
  border-radius: 30px;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
  margin-right: 5px;
}
</style>
</head>
<body>